.screenMainContent {
  display: grid;
  grid-template: repeat(2, 50%) / repeat(2, 50%);
  justify-items: center;
  align-items: center;
}

.headingContainer {
  text-align: right;
  align-self: end;
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

.boredMembersIcon {
  height: 400px;
  width: 400px;
  grid-row: 2;
  grid-column: 2;
  z-index: 10;
  position: relative;
  animation-name: grow;
  animation-duration: 500ms;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.boredMembersIconLink {
  height: 150px;
  width: 150px;
  z-index: 11;
  position: absolute;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
}

@media screen and (min-height: 900px) and (min-width: 1200px) {
  .boredMembersIcon {
    height: 500px;
    width: 500px;
  }
}

.boredMembersScreen {
  background-color: var(--electricCyan);
}

.boredMembersScreen:before {
  content: " ";
  background-color: var(--buttons);
  height: 100%;
  width: 100%;
  position: absolute;
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  transition-duration: 1000ms;
}

.inView.boredMembersScreen:before {
  clip-path: polygon(100% 10%, 100% 100%, 0 100%, 0 84%);
}
