.cardContainer {
  display: flex;
  column-gap: 20px;
}

.cardContainer.cardContainerHoverable:hover {
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  transition-duration: 200ms;
}

.cardSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.cardSection.cardSectionCenteredRightAligned {
  align-items: end;
}

.cardSection.cardSectionCenteredLeftAligned {
  align-items: start;
}

@media screen and (max-width: 900px) {
  .cardContainer {
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
  }

  .cardSection {
    width: 100%;
  }

  .cardDescription p {
    text-align: center;
  }
}
