.gameOfLifeContainer {
  display: grid;
  background-color: grey;
  gap: 1px;
  margin-right: 20px;
  margin-left: 20px;
}

.gameOfLifeController {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 100%;
  white-space: nowrap;
}
