.gameOfLife {
  display: flex;
}

.gameOfLifeGrid {
  display: grid;
  background-color: lightgrey;
  gap: 1px;
  margin-right: 20px;
  margin-left: 20px;
}

.gameOfLifeController {
  display: flex;
  flex-direction: column;
}

.gameOfLifeController button {
  margin-bottom: 20px;
}

.gameOfLifeContainer {
  display: flex;
}

.gameOfLifeDescription {
  width: 350px;
}
