.linkIconsContainer {
  display: flex;
  column-gap: 150px;
  align-items: center;
}

.socialsScreen {
  background-color: var(--mainTheme);
}

@media screen and (max-width: 675px) {
  .linkIconsContainer {
    flex-direction: column;
    row-gap: 100px;
  }

  .linkIconsContainer .linkedInIcon {
    transform: translateX(10px);
  }
}
