.welcomeScreenCardContainer {
  width: 90vw;
  max-width: 1200px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.welcomeScreen {
  background-color: var(--mainTheme);
}

.skillsList {
  list-style: none;
}

.skillsList li {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  white-space: nowrap;
}

.skillsListContainer {
  display: flex;
  justify-content: center;
  column-gap: 3rem;
}

.skillsListContainer > p {
  align-self: center;
}

@media screen and (max-width: 900px) {
  .welcomeScreenCardContainer {
    width: 70vw;
    margin-top: 20px;
  }

  .welcomeScreenCardContainer p {
    font-size: 2rem;
  }
}
