html {
  font-size: 62.5%; /* 62.5% of the default 16px font-size is 10px */
  height: 100vh;
}

body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

*,
*::before,
*::after {
  font-family: "Courier New", Courier, monospace;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* BASE TEXT STYLES */
h1 {
  margin: 0;
}
