html {
  font-size: 62.5%; /* 62.5% of the default 16px font-size is 10px */
}

#root {
  color: var(--text);
  overflow: visible;
  --mainTheme: #0a192f;
  --accents: #00aeef;
  --text: #ffffff;
  --secondary: #eaeaea;
  --buttons: #18a999;
  --brightPurple: #5a189a;
  --brightNeonGreen: #00ff00;
  --cyberLime: #66ff66;
  --deepEmerald: #008800;
  --glowingTeal: #00ff99;
  --darkMatrixGreen: #003300;
  --cyberOrange: #ff6600;
  --neonPink: #ff0080;
  --electricCyan: #00ccff;
}

*,
*::before,
*::after {
  font-family: "Courier New", Courier, monospace;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* BASE TEXT STYLES */
h1,
h2,
h3 {
  margin: 20px 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
  font-weight: bold;
}

li,
button {
  font-size: 1.2rem;
}

/* GENERIC SCREEN STYLES */
.screen {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  position: relative;
}

.screen__main-content {
  flex: 1;
}

.screen--centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen--centered.screen--centered-col {
  flex-direction: column;
}

ul ul {
  margin-left: 10px;
}

/* BUTTON STYLES */

button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--buttons);
  transition-duration: 150ms;
  font-weight: bolder;
  color: var(--text);
}

/* LINK STYLES */
a {
  color: inherit;
  text-decoration: none;
}

.coding-adventures-header {
  color: var(--cyberOrange);
}

.hoverable--grow:hover {
  transition-duration: 200ms;
  transform: scale(1.1);
}
